// Colores
$color-fondo: black;
$color-fuente: white;

// Tamanos de fuentes
$tamano-grande: 60px;
$tamano-mediano: 45px;
$tamano-chico: 30px;

// Separaciones
$separacion-1: 50px;
$separacion-2: 40px;
$separacion-3: 30px;

//Media Queries

$movil: 480px;
$seis: 600px;
$tablet: 768px;
$ocho: 880px;
$laptop: 1024px;
$desktop: 1200px;
$televisor: 1201px;

//
